@import "../variables";

$speedRotation: 13s;

.cubeAnimation {
  height: 100vh;
  width: 100vw;
  background-color: Blue;
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;

  .toNavSwrapContainer {
    opacity: 0;
  }

  .animationSwarp {
    height: 50vh;
    width: 50vh;
    min-height: 80px;
    min-width: 80px;
    position: relative;
    background-color: rgba(214, 214, 214, 0.932);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: all 0.4s ease-in-out;
    opacity: 1;
    
  }
  .toNavAnimationSwrap {
    height: 10vh;
    width: 10vh;
    max-height: 100%;
    max-width: 100%;
    opacity: 0;
  }

  .square {
      position: relative;
   
    height: 75%;
    width: 50%;
  }
  .rotationOne {

    animation: rotationOne $speedRotation linear infinite;
    background-color: rgba(182, 86, 86, 0.712);
  }
  .rotationTwo {
    animation: rotationTwo $speedRotation linear infinite;
    background-color: rgba(86, 136, 182, 0.678);
  }
}
@keyframes rotationOne {
  0% {
    transform: perspective(300px) rotate3d(1, 1, 1, 0deg);
  }
  50% {
    transform: perspective(300px) rotate3d(1, 1, 1, 180deg);
  }
  100% {
    transform: perspective(300px) rotate3d(1, 1, 1, 360deg);
  }
}
@keyframes rotationTwo {
  0% {
    transform: perspective(300px) rotate3d(1, 1, 1, 360deg);
  }
  50% {
    transform: perspective(300px) rotate3d(1, 1, 1, 180deg);
  }
  100% {
    transform: perspective(300px) rotate3d(1, 1, 1, 0deg);
  }
}
